# MongoDB Connection (MongoDB Atlas)
MONGODB_URI=mongodb+srv://dsreddy509_db_user:<db_password>@cluster0.nqg6py0.mongodb.net/svboys_hostel?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret (At least 256-bit hexadecimal or strong random key)
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_MS=86400000

# Default Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_EMAIL=admin@svboyshostel.com
ADMIN_NAME=Hostel Administrator
